$base-font-size: 14px;
$bg-color: #398CBD;

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

/* UNIVERSAL */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* FFRK Styles */

.header {
  height: 65px;
}

.banner {
  background-color: $bg-color;
  width: 100%;
  &__link {
    color: #FFF;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    @media screen and (min-width: $medium) {
      font-size: 24px;
    }
  }
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.container {
  width: 87.5%;
  margin: 0 auto;
  @media screen and (min-width: $medium) {
    width: 70%;
  }
}

@media only screen and (min-width: $medium) {
  .logo {
    width: auto;
    height: auto;
  }
}

.title {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  margin: 12px 0 12px;
  @media screen and (min-width: $medium) {
    font-size: 32px;
  }
  &__desc {
    display: inline-block;
    font-size: 13px;
  }
}

.tutorial {
  font-size: 13px;
  margin-left: auto;
}

#search-button, #search-text, .bug {
  font-size: 12px;
}

h3, span, #search-button, #search-text, .title__desc, .tutorial {
  font-family: 'Lato', sans-serif;
}

p, .cmd span, .braveMode__elements, .braveMode__castTime, .entry__elements, .entry__castTime { /** TODO change these rules to something simpler */
  font-family: 'Merriweather', serif;
}

p {
  margin: 8px 0;
}

table {
  border-collapse: collapse;
  margin-bottom: 5px;
  width: 100%;
}

th {
  font-weight: normal;
}

th, td {
  padding: 1px 3px;
}

tbody.left th {
  padding: 3px;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#search-text {
  width: 95%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 3px 3px 4px;
}

#search-select {
  width: 110px;
}

#search-button {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 6px;
  width: 10%;
  min-width: 50px;
  @media screen and (min-width: $medium) {
    width: 14%;
  }
}

/**
 * Soul Break Results
 */

/*.sb-result {
  border-bottom: 1px solid grey;  TODO make border-top on all results except the first
  padding-bottom: 14px;
}*/

.sb-result, .result {
  margin-top: 12px;
}

.sb-result:last-child, .result:last-child {
  margin-bottom: 16px;
}

.sb {
  padding-bottom: 8px;
  &__name {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.2rem;
    @media screen and (min-width: $medium) {
      margin-bottom: 8px;
    }
  }

    &__content {
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      justify-items: start;
      @media screen and (min-width: $medium) {
        margin-top: -1.5%;
      }
    }

      &__text {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
        font-size: 12px;
        grid-column: col-start 3 / span 10;
        @media screen and (min-width: $medium) {
          grid-column: col-start 2 / span 10
          font-size: 14px;
        }
      }
}

.sb-main {
  display: flex;
}

.sb__icon, .lg-icon {
  width: 148%;
  grid-column: col-start / span 1;
}

.sb__icon-container {
  grid-column: col-start / span 2;
  overflow: hidden;
  text-indent: -21%;
  @media screeen and (min-width: $medium) {
    grid-column: col-start / span 1;
    text-indent: -11%;
  }
}


@media only screen and (min-width: $medium) {
  .sb__icon {
    min-height: 96px;
    min-width: 96px;
    margin-left: -14%;
  }
}

.icon {
  float: left;
  min-height: 52px;
  min-width: 52px;
  height: 52px;
  width: 52px;
  margin: 0 5px 0 -2px;
}



.cmds {
  padding: 2px;
  font-size: 12px;
  @media screen and (min-width: $medium) {
    font-size: 14px;
  }
}

.cmd {
  display: flex;
  margin-bottom: 0.25rem;
  align-items: center;
}

.cmd__icon, .sm-icon {
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

@media only screen and (min-width: $medium) {
  .cmd__icon, .sm-icon {
    min-height: 48px;
    min-width: 48px;
    height: 48px;
    width: 48px;
  }
}

.cmd__effect {
  margin-top: auto;
  margin-bottom: auto;
}

.status__name {
  display: inline;
  font-size: 0.875rem;
  font-weight: bold;
}

.braveMode__desc {
  font-weight: bold;
}

/** Legend Materia **/
.lm__name {
  margin: 0.5rem 0 0.25rem 0;
}

.lm__container, .icon-container {
  display: flex;
  align-items: center;
}

.icon-container {
  margin-bottom: 8px;
}

.character__name, .result__name {
  margin: 0 0 8px 0;
}


/** HELPERS **/
.margin-right {
  margin-right: auto;
}

.padding-top {
  padding-top: 8px;
}

.padding-bottom {
  padding-bottom: 8px;
  margin-bottom: 0;
}

/*.border-bottom {
  border-bottom: 1px solid gray;
}*/

/*.border-top {
  border-top: 1px solid gray;
}*/

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.25rem;
}

.flex:last-child {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.info {
  margin-bottom: 0.25rem;
  font-family: 'Merriweather', serif;
}

.error {
  color: red;
  font-family: 'Merriweather', serif;
}
