#body {
  width: 370px;
  height: 100px;
  max-height: 400px;
}

#title {
  font-family: 'Play', sans-serif;
  text-shadow: 1px 1px 1px rgba(150,150,150,1);
  margin: 0;
}

.title__desc {
  font-size: 13px;
}

#search-button, #search-text {
  font-size: 12px;
}

h3, span, #search-button, #search-text, .title__desc {
  font-family: 'Lato', sans-serif;
}

p, .cmd span, .braveMode__elements, .braveMode__castTime, .entry__elements, .entry__castTime { /** TODO change these rules to something simpler */
  font-family: 'Merriweather', serif;
}

p {
  margin: 8px 0;
}

table {
  border-collapse: collapse;
  margin-bottom: 5px;
  width: 100%;
}

th {
  font-weight: normal;
}

th, td {
  padding: 1px 3px;
}

#search-text {
  width: 237px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 3px 3px 4px;
}

#search-select {
  width: 110px;
}

#search-button {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 6px;
}

/**
 * Soul Break Results
 */

/*.sb-result {
  border-bottom: 1px solid grey;  TODO make border-top on all results except the first
  padding-bottom: 14px;
}*/

.sb-result, .result {
  margin-top: 12px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.sb-result:last-child, .result:last-child {
  margin-bottom: 16px;
}

.sb {
  padding-bottom: 8px;
}

.sb-result__name {
  margin-bottom: 8px;
  margin-top: 0;
}

.sb-main {
  display: flex;
}

.sb-result__icon, .lg-icon {
  float: left;
  min-height: 64px;
  min-width: 64px;
  height: 64px;
  width: 64px;
  margin-left: -10px;
}

.icon {
  float: left;
  min-height: 52px;
  min-width: 52px;
  height: 52px;
  width: 52px;
  margin: 0 5px 0 -2px;
}

.sb-result__effect {
  margin-bottom: auto;
  margin-top: auto;
}

.cmds {
  padding: 2px;
}

.cmd {
  display: flex;
  padding: 5px 0;
  align-items: center;
}

.cmd__icon, .sm-icon {
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.cmd__effect {
  margin-top: auto;
  margin-bottom: auto;
}

.status__name {
  display: inline;
  font-size: 0.875rem;
  font-weight: bold;
}

.braveMode__desc {
  font-weight: bold;
}

/** Legend Materia **/
.lm__name {
  margin: 0.5rem 0 0.25rem 0;
}

.lm__container, .icon-container {
  display: flex;
  align-items: center;
}

.icon-container {
  margin-bottom: 8px;
}

.character__name, .result__name {
  margin: 0 0 8px 0;
}


/** HELPERS **/
.margin-right {
  margin-right: auto;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.border-top {
  border-top: 1px solid gray;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.info {
  margin-bottom: 0.25rem;
  font-family: 'Merriweather', serif;
}

.error {
  color: red;
  font-family: 'Merriweather', serif;
}
